/* base */

body{
    background-image: url('../image/R.jpg');
}

/* global file */
.container{
    margin-top: 5%;
    border-radius: 10px;
    background-color:rgb(232, 236, 238);
}

/* home */

.containerHome{
    background-color: transparent;
}

.btnHome{
    text-decoration: none;
    padding: 10%;
    border-radius: 10px;
    font-weight: bold;

}

.linkProduct{
    color: white;
    background-color: rgb(200, 26, 26);
    
    &:hover{
        background-color: rgb(155, 27, 27);
        color: white;
        transition-duration: 1s;
    }
}

.linkSale{
    color: white;
    background-color: #b061a2;

    &:hover{
        background-color: #721c63;
        color: white;
        transition-duration: 1s;
    }
}

.linkDeliverie{
    color: white;
    background-color: rgb(232, 154, 10);

    &:hover{
        background-color: rgb(176, 124, 27);
        color: white;
        transition-duration: 1s;
    }
}

.linkSheet{
    color: white;
    background-color: rgb(133, 129, 129);

    &:hover{
        background-color: rgb(54, 52, 52);
        color: white;
        transition-duration: 1s;
    }
}

/* index products */

.divBackHome{
    background-color: transparent;
    margin-top: 1%;
}

.linkBackHome{
    background-color: white;
    transition: 1s;
}


.test{
    background-color: red;
}

.disabled{
    background-color: rgb(136, 133, 133);
}

.stockTitle{
    /* background-color: #2d2c2d; */
}

.submitStock{
    border:none;
}

.print{
    display: inline-block;
    width: 10%;
}

.tableaux{
    width:100%;
}

.tableaux th, .tableaux td{
    border: 1px solid black;
    padding: 8px;
}

.redColor{
    color:red;
}

.blueColor{
    color:blue;
}

.date{
    font-weight:bold;
    font-size:20px;
}